tests/tools/xml-validator/samples/valid-complex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- 公司根元素 -->
  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="info" type="CompanyInfoType"/>
        <xs:element name="departments" type="DepartmentsType"/>
        <xs:element name="projects" type="ProjectsType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- 公司信息类型 -->
  <xs:complexType name="CompanyInfoType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="founded" type="xs:int"/>
      <xs:element name="employees" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 部门集合类型 -->
  <xs:complexType name="DepartmentsType">
    <xs:sequence>
      <xs:element name="department" type="DepartmentType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 部门类型 -->
  <xs:complexType name="DepartmentType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="budget" type="xs:decimal"/>
      <xs:element name="employees" type="EmployeesType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>
  
  <!-- 员工集合类型 -->
  <xs:complexType name="EmployeesType">
    <xs:sequence>
      <xs:element name="employee" type="EmployeeType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 员工类型 -->
  <xs:complexType name="EmployeeType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="position" type="xs:string"/>
      <xs:element name="salary" type="xs:decimal"/>
      <xs:element name="skills" type="SkillsType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>
  
  <!-- 技能集合类型 -->
  <xs:complexType name="SkillsType">
    <xs:sequence>
      <xs:element name="skill" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 项目集合类型 -->
  <xs:complexType name="ProjectsType">
    <xs:sequence>
      <xs:element name="project" type="ProjectType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 项目类型 -->
  <xs:complexType name="ProjectType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="startDate" type="xs:date"/>
      <xs:element name="endDate" type="xs:date"/>
      <xs:element name="budget" type="xs:decimal"/>
      <xs:element name="team" type="TeamType"/>
    </xs:sequence>
    <xs:attribute name="status" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="active"/>
          <xs:enumeration value="completed"/>
          <xs:enumeration value="cancelled"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  
  <!-- 团队类型 -->
  <xs:complexType name="TeamType">
    <xs:sequence>
      <xs:element name="member" type="MemberType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 团队成员类型 -->
  <xs:complexType name="MemberType">
    <xs:attribute name="employeeId" type="xs:int" use="required"/>
  </xs:complexType>
  
</xs:schema>